/* Flex terbagi menjadi 2 */
/* Column 6 row */
/* Mengatur alur menggunakan flex-direction */
Mengatur akur mnggunakan flex-directionn
 
.bapak{
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    color: white;
    flex-direction: column;
}

.anak{
    width: 100px;
    height: 100px;
    background-color: blue;
}

