.flag{
    width: 400px;
    height: 250px;
    background-color: black;
    display: flex;
    flex-direction: column;
    border: 1px solid;

}  

.back-atas{
    width: 100%;
    height: 50%;
    background-color: white;
}

.back-bawah {
    width: 100%;
    height: 50%;
    background-color: red;
}

.circle-atas {
    width: 100px;
    height: 50px;
    border: 1px solid;
    background-color: red;
    position: absolute;
    left: 60;
    top: 85;
    border-radius: 100px 100px 0px  0px;
    
}

.circle-bawah {
    width: 100px;
    height: 50px;
    border: 1px solid;
    background-color: white;
    position: absolute;
    top: 133;
    left: 60;
    border-radius: 0px 0px 100px 100px;
}  