.flag{
    width: 400px;
    height: 250px;
    background-color: red;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    justify-content: space-between;
    
}  

.vertikal-atas {
    width: 100%;
    height: 45%;
    
    display: flex;
    justify-content: space-between;
    
}

.vertikal-bawah {
    width: 100%;
    height: 45%;
    
    display: flex;
    justify-content: space-between;
}

.kotak-putih1, .kotak-putih2{
    background-color: white;
    width: 47%;
    height: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kotak-putih3, .kotak-putih4 {
    background-color: white;
    width: 47%;
    height: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salib-merah {
    background-color: red;
    width: 85px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.vertikal-kecil1, .vertikal-kecil2, 
.vertikal-kecil3, .vertikal-kecil4, 
.vertikal-kecil5, .vertikal-kecil6, 
.vertikal-kecil7, .vertikal-kecil8{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    
}

.kotak-kecil {
    background-color: white;
    width: 30px;
    height: 30px;
}

