.flag{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    justify-content: space-between;  
} 

.merah {
    background-color: red;
    width: 100%;
    height: 33%;
}

.putih {
    background-color: white;
    width: 100%;
    height: 33%;
}

.hitam {
    background-color: black;
    width: 100%;
    height: 33%;
}